@charset "UTF-8";

body {
	background-color: Black;
}

.about {
	font-size: 50px;
	margin-bottom: 30px;
}

.layer1 {
	padding: 400px;
	margin-top: 10px;
	margin-bottom: 0px;
	background-image: url('image/417374.jpg');
	font-family: 'Times New Roman', Times, serif;
}

.layer2 {
	text-align: center;
	padding: 80px;
	padding-top: 55px;
	background-color: #fff;
	font-family: 'Times New Roman', Times, serif;
}

h1 {
	color: black;
	text-align: center;
	margin-top: -10px;
}

a {
	color: white;
}

header {
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center;
}

nav {
	margin-top: -50px;
	font-size: 20px;
	padding: 35px;
	background-color: darkblue;
	text-align: left;
	font-family: 'Times New Roman', Times, serif;
}

nav a {
	color: white;
	text-decoration: none;
	margin: 0 10px;
	font-size: 25px;
	text-align: right;
}

nav a:hover {
	text-decoration: none;
	color: #000000;
}

footer {
	background-color: #000000;
	color: #fff;
	text-align: center;
	padding: 70px;
	margin-top: 180px;
}

.footer-icons a {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	margin: 0 30px;
}

.footer-icons a:hover {
	text-decoration: underline;
}